<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='experiment1.css') }}" />

</head>

<body>
    <div>
        <div class="header">
            <span class="header_title">행동경제학적 프로파일링 실험-1</span>
        </div>
        <div class="row main">
            <div id="myDiv" class="col-10 chart"></div>
            <div class="col-2 controller">
                <div>
                    <div class="pod_title">
                        <span>배당확률</span>
                    </div>
                    <div class="pod_x">
                        <span>X1</span>
                        <input type="text" value="0.500" disabled />
                    </div>
                    <div class="pod_x">
                        <span>X2</span>
                        <input type="text" value="0.500" disabled />
                    </div>
                </div>

                <div>
                    <div class="pod_title">
                        <span>주식별 배당 토큰</span>
                    </div>
                    <div class="podt_x">
                        <span>X1</span>
                        <input id="x_value" type="text" value="0" disabled />
                    </div>
                    <div class="podt_x">
                        <span>X2</span>
                        <input id="y_value" type="text" value="0" disabled />
                    </div>
                </div>

                <div class="pod_result">
                    <span>{{ round }}/50</span>
                    <button class="bt_result" onclick="submitResult()">결정</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <form id="expResult" action="/submit_exp1" method="post">
                <input type="hidden" id="clicklogs" name="clicklogs"/>
                <input type="hidden" id="round" name="round" value="{{ round }}"/>
                <input type="hidden" id="email" name="email" value="{{ email }}"/>
                <input type="hidden" id="ix" name="ix" value=""/>
                <input type="hidden" id="iy" name="iy" value=""/>
            </form>
            <span>하나금융티아이 하나금융융합기술원</span>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='experiment1.js') }}"></script>
</body>

</html>