<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='index.css') }}" />

    <title>Document</title>
</head>

<body>
    <div class="">
        <div class="header">
            <span class="header_title">행동경제학적 프로파일링 실험-로그인</span>
        </div>
        <div class="row">
            <div class="content">
                <div id="login-title">
                    <span>행동경제학적 프로파일링 실험</span>
                </div>
                <form action="initexp" method="post">
                    <table>
                        <tr>
                            <td class="td_txt">E-mail</td>
                            <td class="td_form">
                                <input type="email" name="email" id="email" />
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">전공계열</td>
                            <td class="td_form">
                                <select name="major">
                                    <option value="language">어문계열</option>
                                    <option value="liberal">인문계열</option>
                                    <option value="social">사회계열</option>
                                    <option value="commerce">상경계열</option>
                                    <option value="natural">자연과학계열</option>
                                    <option value="living">생활과학계열</option>
                                    <option value="agriculture">농업계열</option>
                                    <option value="machine">기계공학계열</option>
                                    <option value="electric">전기공학계열</option>
                                    <option value="architect">건축토목계열</option>
                                    <option value="chemical">화학공학계열</option>
                                    <option value="medical">의료계열</option>
                                    <option value="chemical">화학공학계열</option>
                                    <option value="education">사범교육계열</option>
                                    <option value="music">음악계열</option>
                                    <option value="paint">미술계열</option>
                                    <option value="art">예술계열</option>
                                    <option value="sport">체육계열</option>
                                    <option value="misc">그 외</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">연애횟수</td>
                            <td class="td_form">
                                <input type="number" name="luv_cnt" class="number_small"/> 회
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">평균 연애기간</td>
                            <td class="td_form">
                                <input type="number" name="luv_period" class="number_small"/> 개월
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">평균 솔로기간</td>
                            <td class="td_form">
                                <input type="number" name="luv_term" class="number_small"/> 개월
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">지난 1년간 지원한 기업 수</td>
                            <td class="td_form">
                                <input type="number" name="apply_company" class="number_small"/> 개
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">통장 잔고</td>
                            <td class="td_form">
                                <input type="number" name="balance" class="number_input"/> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">첫 월급 중 한턱 내는데 쓸 수 있는 금액의 비용 (1회)</td>
                            <td class="td_form">
                                <input type="number" name="treat_single" class="number_input"/> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="td_txt">첫 월급 중 한턱 내는데 쓸 수 있는 금액의 비용 (전체)</td>
                            <td class="td_form">
                                <input type="number" name="treat_total" class="number_input"/> 원
                            </td>
                        </tr>

                    </table>
                    <div id="btn_start">
                        <button>실험시작</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <span>하나금융티아이 하나금융융합기술원</span>
        </div>
    </div>
</body>

</html>